<div class="row">
  <div class="small-12 medium-12 large-12 columns  swedew">
    <table id="clients" class="display">
      <thead>
      <tr>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @sparks.each do |spark| %>
          <tr>
            <td>
              <%= spark.title %>
            </td>
            <td>
              <%= spark.summary %>
            </td>
            <td>
              <%= spark.dev_notes %>
            </td>
            <td>
              <%= spark.direct_link %>
            </td>
            <td>
              <%= spark.canned_video %>
            </td>
            <td>
              <%= spark.longform %>
            </td>
            <td>
              <%= spark.spark_images %>
            </td>
            <td>
              <%= spark.tags %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
